In [1]:
from google.colab import files
uploaded = files.upload()

Saving fintech_data_30_52_3224.parquet to fintech_data_30_52_3224.parquet

In [36]:
from pyspark.sql import SparkSession
#Load the dataset.
spark = SparkSession.builder.appName("Milestone3").getOrCreate()
df = spark.read.parquet("fintech_data_30_52_3224.parquet")
df.printSchema()
df.summary().show()

root
 |-- Customer Id: string (nullable = true)
 |-- Emp Title: string (nullable = true)
 |-- Emp Length: string (nullable = true)
 |-- Home Ownership: string (nullable = true)
 |-- Annual Inc: double (nullable = true)
 |-- Annual Inc Joint: double (nullable = true)
 |-- Verification Status: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Addr State: string (nullable = true)
 |-- Avg Cur Bal: double (nullable = true)
 |-- Tot Cur Bal: double (nullable = true)
 |-- Loan Id: long (nullable = true)
 |-- Loan Status: string (nullable = true)
 |-- Loan Amount: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Funded Amount: double (nullable = true)
 |-- Term: string (nullable = true)
 |-- Int Rate: double (nullable = true)
 |-- Grade: long (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Pymnt Plan: boolean (nullable = true)
 |-- Type: string (nullable = true)
 |-- Purpose: string (nullable = true)
 |-- Description: string (nullable = true)

+-------+--------------------+-------------------+----------+--------------+-----------------+-----------------+-------------------+--------+----------+------------------+------------------+------------------+------------------+-----------------+-----+-----------------+----------+-------------------+------------------+-----------------+----------+-------+-------------------+
|summary|         Customer Id|          Emp Title|Emp Length|Home Ownership|       Annual Inc| Annual Inc Joint|Verification Status|Zip Code|Addr State|       Avg Cur Bal|       Tot Cur Bal|           Loan Id|       Loan Status|      Loan Amount|State|    Funded Amount|      Term|           Int Rate|             Grade|       Issue Date|      Type|Purpose|        Description|
+-------+--------------------+-------------------+----------+--------------+-----------------+-----------------+-------------------+--------+----------+------------------+------------------+------------------+------------------+-----------------+-----+-----------------+----------+-------------------+------------------+-----------------+----------+-------+-------------------+
|  count|               27029|              24648|     25119|         27029|            27029|             1869|              27029|   27029|     27029|             27029|             27029|             27029|             27029|            27029|27029|            27029|     27029|              25830|             27029|            27029|     27029|  27029|              26802|
|   mean|                NULL|               14.0|      NULL|          NULL|79234.46459610049| 129782.763281041|               NULL|    NULL|      NULL|13647.522882829553| 144558.6403122572|134917.48277775722|              NULL|15383.33086684672| NULL|15383.33086684672|      NULL|0.13102551684088196|10.942136224055645|             NULL|      NULL|   NULL|               NULL|
| stddev|                NULL|               NULL|      NULL|          NULL|67604.25685226073|78900.46092163693|               NULL|    NULL|      NULL|17167.001076494955|165367.46854073237| 78044.81341165469|              NULL|9451.294634138032| NULL|9451.294634138032|      NULL|0.04884604467951908|  6.32519147926075|             NULL|      NULL|   NULL|               NULL|
|    min|YiI+LVx4MDBceDA0X...|   \tPasteurization|    1 year|           ANY|             34.0|          15400.0|       Not Verified|   010xx|        AK|               0.0|               0.0|                 6|       Charged Off|           1000.0|   AK|           1000.0| 36 months|             0.0531|                 1|   12 August 2012|DIRECT_PAY|    car| Consolidation Loan|
|    25%|                NULL|               14.0|      NULL|          NULL|         47340.07|          86400.0|               NULL|    NULL|      NULL|            3100.0|           29143.0|             67308|              NULL|           8000.0| NULL|           8000.0|      NULL|             0.0943|                 6|             NULL|      NULL|   NULL|               NULL|
|    50%|                NULL|               14.0|      NULL|          NULL|          66700.0|         113000.0|               NULL|    NULL|      NULL|            7326.0|           80199.0|            134428|              NULL|          13000.0| NULL|          13000.0|      NULL|             0.1262|                10|             NULL|      NULL|   NULL|               NULL|
|    75%|                NULL|               14.0|      NULL|          NULL|          95000.0|         151000.0|               NULL|    NULL|      NULL|           18874.0|          215301.0|            202519|              NULL|          20150.0| NULL|          20150.0|      NULL|             0.1602|                15|             NULL|      NULL|   NULL|               NULL|
|    max|Yidzflx4OGRceGNmX...|{Owner}Truck Driver|  < 1 year|          RENT|        6200000.0|        1168000.0|           Verified|   999xx|        WY|          524933.0|         3709587.0|            270293|Late (31-120 days)|          40000.0|   WY|          40000.0| 60 months|             0.3099|                35|19 September 2019| Joint App|wedding|   will help plenty|
+-------+--------------------+-------------------+----------+--------------+-----------------+-----------------+-------------------+--------+----------+------------------+------------------+------------------+------------------+-----------------+-----+-----------------+----------+-------------------+------------------+-----------------+----------+-------+-------------------+

In [37]:
#Preview first 20 rows.
df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         Customer Id|           Emp Title|Emp Length|Home Ownership|Annual Inc|Annual Inc Joint|Verification Status|Zip Code|Addr State|Avg Cur Bal|Tot Cur Bal|Loan Id|Loan Status|Loan Amount|State|Funded Amount|      Term|Int Rate|Grade|       Issue Date|Pymnt Plan|      Type|           Purpose|         Description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGFjblx4YzVeX...|  Principal Examiner| 10+ years|      MORTGAGE|  110000.0|            NULL|       Not Verified|   110xx|        NY|    24163.0|   555745.0| 161995|    Current|    16000.0|   NY|      16000.0| 60 months|  0.1727|   16| 16 February 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGE1XHgxNFx4Y...|Route Services Ma...|    1 year|      MORTGAGE|  104000.0|            NULL|    Source Verified|   941xx|        CA|    10626.0|    95633.0| 172492|    Current|    17000.0|   CA|      17000.0| 36 months|  0.0881|    3| 19 December 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|Yic3Plx4ODNceGIzX...|  AdamsMorioka, Inc.|   2 years|          RENT|   75000.0|            NULL|       Not Verified|   900xx|        CA|     3492.0|    20950.0|  82222| Fully Paid|    10000.0|   CA|      10000.0| 36 months|  0.1212|    7|  13 January 2013|     false|INDIVIDUAL|debt_consolidation|  Debt Consolidation|
|YidceGYwXHhlNVx4Y...|    Owner / Operator|   3 years|           OWN|   70000.0|            NULL|       Not Verified|   598xx|        MT|     8429.0|   134864.0| 147016|    Current|    15000.0|   MT|      15000.0| 36 months|  0.0735|    5|  18 January 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YicjXHhhZlx4OWRce...|          Bartender |   4 years|          RENT|   55000.0|            NULL|           Verified|   601xx|        IL|     5513.0|    49621.0|  21809|    Current|     4500.0|   IL|       4500.0| 36 months|  0.1499|   12| 16 December 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDhjTWNceDA1X...|             Teacher| 10+ years|      MORTGAGE|  111000.0|            NULL|           Verified|   082xx|        NJ|    46607.0|   466069.0|  21896|    Current|     4500.0|   NJ|       4500.0| 36 months|  0.0671|    5|    18 April 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidBaFx4YTR7XHhlO...|Conference Operat...| 10+ years|      MORTGAGE|  115000.0|            NULL|       Not Verified|   945xx|        CA|    48211.0|   578537.0| 220401| Fully Paid|    24000.0|   CA|      24000.0| 60 months|  0.2145|   17|   17 August 2017|     false|Individual|       credit_card|Credit card refin...|
|YidYXHg4M1x4OTFce...|                NULL|  < 1 year|          RENT|  180000.0|            NULL|       Not Verified|   928xx|        CA|     5750.0|    17250.0|  77303|    Current|     9100.0|   CA|       9100.0| 36 months|  0.0819|    4| 19 November 2019|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDdmXHhhMy1ce...|Medical Coordinator | 10+ years|      MORTGAGE|   65000.0|            NULL|       Not Verified|   945xx|        CA|    11823.0|   177338.0| 182952| Fully Paid|    18725.0|   CA|      18725.0| 36 months|  0.0646|    5|19 September 2019|     false|Individual|       credit_card|Credit card refin...|
|YidceGU5Ilx4YWJWX...|           Technical| 10+ years|      MORTGAGE|  153000.0|            NULL|           Verified|   953xx|        CA|    24628.0|   492550.0| 259521|    Current|    35000.0|   CA|      35000.0| 60 months|  0.1447|   12|     18 July 2018|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDhmXHhiMlx4Y...|            operator| 10+ years|      MORTGAGE|   41000.0|            NULL|           Verified|   778xx|        TX|     6416.0|    57745.0| 111299|    Current|    11000.0|   TX|      11000.0| 60 months|    NULL|   16| 14 February 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|Yic1XHhkN1x4OTchd...|Software Test eng...|  < 1 year|      MORTGAGE|   80000.0|            NULL|    Source Verified|   921xx|        CA|    35656.0|   356561.0| 210190|Charged Off|    22000.0|   CA|      22000.0| 60 months|  0.1448|   15| 15 December 2015|     false|Individual|       credit_card|Credit card refin...|
|YidceGJhXHhjNlx4Z...| Clinical Supervisor|   3 years|          RENT|   64000.0|            NULL|    Source Verified|   921xx|        CA|    35789.0|   322102.0|  19518| Fully Paid|     4000.0|   CA|       4000.0| 36 months|  0.1531|   11|    14 April 2014|     false|INDIVIDUAL|    small_business|            Business|
|YiJceDAxXHhlMVx4Y...|         Electrician| 10+ years|      MORTGAGE|   60000.0|            NULL|    Source Verified|   313xx|        GA|     7784.0|    70056.0| 130521|Charged Off|    12575.0|   GA|      12575.0| 60 months|   0.202|   24|   14 August 2014|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGFkXHhmNlBce...|    paraprofessional|   4 years|           OWN|   60000.0|            NULL|       Not Verified|   607xx|        IL|     1914.0|    26795.0| 212962|    Current|    23000.0|   IL|      23000.0| 60 months|   0.263|   25|   17 August 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|Yicwalx4ZmVceGVhf...|Director of Techn...|   2 years|      MORTGAGE|  154000.0|            NULL|    Source Verified|   257xx|        WV|     5543.0|   216179.0| 268218|    Current|    40000.0|   WV|      40000.0| 60 months|  0.1047|   10|   18 August 2018|     false|Individual|       credit_card|Credit card refin...|
|YidceGE1dFx4Zjdce...|  Branch Manager, VP|   4 years|      MORTGAGE|  108169.0|            NULL|    Source Verified|   917xx|        CA|    26025.0|   702677.0| 236855| Fully Paid|    28000.0|   CA|      28000.0| 60 months|  0.1367|   15| 15 December 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDgwXHgxZHBce...|                  RN| 10+ years|      MORTGAGE|   68000.0|            NULL|       Not Verified|   806xx|        CO|    48554.0|   388435.0| 215696|    Current|    24000.0|   CO|      24000.0| 36 months|  0.0916|    6|     16 June 2016|     false|INDIVIDUAL|       credit_card|Credit card refin...|
|YidceDkzXHhiY1x4Y...|  BILLING SPECIALIST|   8 years|          RENT|   45000.0|            NULL|           Verified|   029xx|        RI|     1526.0|    27462.0| 110324|    Current|    11000.0|   RI|      11000.0| 36 months|  0.1299|   11|    16 March 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGZkXHhkYlx4Z...|     General Manager|   3 years|          RENT|   75000.0|            NULL|           Verified|   211xx|        MD|     9147.0|    27441.0|  22658|Charged Off|     4550.0|   MD|       4550.0| 36 months|  0.1446|   15|      16 May 2016|     false|INDIVIDUAL|debt_consolidation|                NULL|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [38]:
#How many partitions is this dataframe split into?
print(df.rdd.getNumPartitions())

1

In [39]:
import os
#Change partitions to be equal to the number of your logical cores
num_of_logical_cores = os.cpu_count()
df = df.repartition(num_of_logical_cores)

In [40]:
print(df.rdd.getNumPartitions())

2

In [41]:
#Rename all columns (replacing a space with an underscore, and making it lowercase)
df = df.selectExpr([f"`{col}` as {col.lower().replace(' ', '_')}" for col in df.columns])

In [42]:
df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGRiIFx4Zjh3X...|                NULL|      NULL|      MORTGAGE|   42000.0|            NULL|           Verified|   283xx|        NC|    47195.0|   188779.0|  50296|    Current|     6500.0|   NC|       6500.0| 36 months|  0.1774|   13|   19 August 2019|     false|Individual|  home_improvement|    Home improvement|
|YiJceDA0MjtceGVmX...| Maintenance Analyst|   9 years|      MORTGAGE|  116004.0|            NULL|    Source Verified|   984xx|        WA|    12231.0|   354686.0|  12297| Fully Paid|     3000.0|   WA|       3000.0| 36 months|   0.263|   24|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGI5XHgwNXZce...|               owner| 10+ years|      MORTGAGE|  166000.0|            NULL|       Not Verified|   906xx|        CA|     3374.0|    40483.0| 173548| Fully Paid|    17000.0|   CA|      17000.0| 60 months|  0.1333|   15|  15 October 2015|     false|Individual|    small_business|            Business|
|YidFXHg5M1x4ZTNce...|          supervisor|   5 years|          RENT|   40000.0|            NULL|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDhlXHgxZlx4Y...|     prosthetic tech|   9 years|      MORTGAGE|   88000.0|            NULL|       Not Verified|   117xx|        NY|    69566.0|   347829.0|  25352|    Current|     5000.0|   NY|       5000.0| 36 months|  0.0607|    3|    18 April 2018|     false|Individual|             other|               Other|
|YiJcclx4N2Z8XHhkN...|Assistant Vice Pr...| 10+ years|          RENT|  180000.0|            NULL|    Source Verified|   062xx|        CT|     6216.0|    93234.0|  97126|    Current|    10000.0|   CT|      10000.0| 36 months|  0.1612|   15|  19 October 2019|     false|Individual|       credit_card|Credit card refin...|
|YidlXHhjNH1ceGZhX...|       Sales Manager| 10+ years|      MORTGAGE|   60000.0|            NULL|    Source Verified|   336xx|        FL|    27389.0|   219114.0| 117878|    Current|    12000.0|   FL|      12000.0| 36 months|  0.0799|    5|     16 July 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDE1XHhlMDZ2X...|Executive Directo...|  < 1 year|      MORTGAGE|  153000.0|            NULL|    Source Verified|   761xx|        TX|    42332.0|   338656.0| 162097| Fully Paid|    16000.0|   TX|      16000.0| 36 months|  0.1601|   11|      18 May 2018|     false|Individual|             house|         Home buying|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|   9 years|          RENT|   62000.0|            NULL|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|
|YidceDk1LFx4YmZce...|             Driver | 10+ years|      MORTGAGE|  104000.0|            NULL|    Source Verified|   431xx|        OH|    15688.0|   219636.0| 168055|    Current|    16000.0|   OH|      16000.0| 60 months|  0.1499|   14|    17 April 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YiJceDgzXHg5NS5ce...|Superintendent of...| 10+ years|          RENT|  104000.0|            NULL|           Verified|   908xx|        CA|    10793.0|   140305.0| 191861|    Current|    20000.0|   CA|      20000.0| 36 months|  0.1075|    8|    16 April 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGEzXHhiYjJce...|Medical laborator...|   6 years|           OWN|   79000.0|            NULL|           Verified|   296xx|        SC|     3727.0|    52184.0| 239818|    Current|    30000.0|   SC|      30000.0| 36 months|  0.1602|   14|   17 August 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidKXHhjMFx4YTlce...|                NULL|      NULL|      MORTGAGE|   21000.0|            NULL|           Verified|   770xx|        TX|     5508.0|    44065.0|  17646| Fully Paid|     4000.0|   TX|       4000.0| 36 months|  0.0917|    6| 15 November 2015|     false|Individual|  home_improvement|    Home improvement|
|YidceGVhXHhjN1x4Y...|               Owner|   3 years|      MORTGAGE|   55800.0|         76600.0|       Not Verified|   498xx|        MI|    18297.0|   128076.0|  92256|    Current|    10000.0|   MI|      10000.0| 36 months|  0.1171|   10|     19 July 2019|     false| Joint App|       credit_card|Credit card refin...|
|YidhXHhjZlx4MTA6X...|   kaiser permanente| 10+ years|          RENT|  125000.0|            NULL|           Verified|   921xx|        CA|     3763.0|    30105.0| 195929| Fully Paid|    20000.0|   CA|      20000.0| 36 months|   0.224|   22|13 September 2013|     false|INDIVIDUAL|    small_business|            Business|
|YidceDgxPzhceGM0X...|   Financial Advisor|  < 1 year|          RENT|   64000.0|            NULL|    Source Verified|   223xx|        VA|     3157.0|    41045.0| 203609|    Current|    20800.0|   VA|      20800.0| 36 months|  0.1041|    9|    18 March 2018|     false|Individual|             other|               Other|
|YidceGE4XHg4Zlx4Y...|            Staff PT|   5 years|          RENT|   85000.0|            NULL|           Verified|   114xx|        NY|     3443.0|    41312.0| 187429| Fully Paid|    20000.0|   NY|      20000.0| 36 months|  0.0818|   10|     15 July 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGEwXHhjMVx4O...|    Personal Shopper|   7 years|          RENT|   30000.0|            NULL|    Source Verified|   891xx|        NV|     1077.0|    11844.0|  19858|    Current|     4000.0|   NV|       4000.0| 36 months|  0.1774|   12|19 September 2019|     false|Individual|       credit_card|Credit card refin...|
|YidceDhhdFx4ZjJ3R...|                NULL|      NULL|      MORTGAGE|   68000.0|            NULL|       Not Verified|   804xx|        CO|    33640.0|   201841.0| 146220| Fully Paid|    15000.0|   CO|      15000.0| 36 months|  0.0649|    2| 15 December 2015|     false|Individual|  home_improvement|    Home improvement|
|YiJceGE3XHhjZVx4Y...|                NULL|  < 1 year|           ANY|  150000.0|            NULL|    Source Verified|   346xx|        FL|     4723.0|    28335.0| 151449|    Current|    15000.0|   FL|      15000.0| 36 months|   0.124|    8|    19 April 2019|     false|Individual|debt_consolidation|  Debt consolidation|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [43]:
#Create a function that takes in the df and returns any data structure of your choice(df/dict,list,tuple,etc)
#which has the name of the column and percentage of missing entries from the whole dataset.
def detect_missing(df):
    return {col: (df.filter(df[col].isNull()).count() / df.count()) * 100 for col in df.columns}

missing_info = detect_missing(df)
#Printout the missing info
print(missing_info)

{'customer_id': 0.0, 'emp_title': 8.809056938843463, 'emp_length': 7.066484146657294, 'home_ownership': 0.0, 'annual_inc': 0.0, 'annual_inc_joint': 93.08520478005106, 'verification_status': 0.0, 'zip_code': 0.0, 'addr_state': 0.0, 'avg_cur_bal': 0.0, 'tot_cur_bal': 0.0, 'loan_id': 0.0, 'loan_status': 0.0, 'loan_amount': 0.0, 'state': 0.0, 'funded_amount': 0.0, 'term': 0.0, 'int_rate': 4.435976173739317, 'grade': 0.0, 'issue_date': 0.0, 'pymnt_plan': 0.0, 'type': 0.0, 'purpose': 0.0, 'description': 0.8398386917755005}

In [44]:
#Handle missing:
from pyspark.sql.functions import col

# 1. Replace numeric columns with 0
numeric_columns = ["annual_inc_joint", "int_rate"]
df = df.fillna({col_name: 0 for col_name in numeric_columns})

# 2. Replace categorical columns with their mode
categorical_columns = ["emp_title", "emp_length", "description"]
for col_name in categorical_columns:
    mode_df = df.groupBy(col_name).count().orderBy(col('count').desc())
    mode_values = mode_df.select(col_name).collect()

    # Get the first mode (if available)
    first_mode = mode_values[0][0] if len(mode_values) > 0 else None
    # Get the second mode if the first mode is None
    second_mode = mode_values[1][0] if len(mode_values) > 1 else "unknown"

    # Use first mode if it's not None, otherwise use second mode
    mode_value = first_mode if first_mode is not None else second_mode

    print(f"Replacing missing values in {col_name} with mode: {mode_value}")
    df = df.fillna(value=mode_value, subset=[col_name])
#The emp_title feature is replaced with the second mode because the first mode in None

Replacing missing values in emp_title with mode: Teacher
Replacing missing values in emp_length with mode: 10+ years
Replacing missing values in description with mode: Debt consolidation

In [45]:
#Afterwards, check that there are no missing values
missing_info = detect_missing(df)
print(missing_info)

{'customer_id': 0.0, 'emp_title': 0.0, 'emp_length': 0.0, 'home_ownership': 0.0, 'annual_inc': 0.0, 'annual_inc_joint': 0.0, 'verification_status': 0.0, 'zip_code': 0.0, 'addr_state': 0.0, 'avg_cur_bal': 0.0, 'tot_cur_bal': 0.0, 'loan_id': 0.0, 'loan_status': 0.0, 'loan_amount': 0.0, 'state': 0.0, 'funded_amount': 0.0, 'term': 0.0, 'int_rate': 0.0, 'grade': 0.0, 'issue_date': 0.0, 'pymnt_plan': 0.0, 'type': 0.0, 'purpose': 0.0, 'description': 0.0}

In [46]:
df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
|YidceGRiIFx4Zjh3X...|             Teacher| 10+ years|      MORTGAGE|   42000.0|             0.0|           Verified|   283xx|        NC|    47195.0|   188779.0|  50296|    Current|     6500.0|   NC|       6500.0| 36 months|  0.1774|   13|   19 August 2019|     false|Individual|  home_improvement|    Home improvement|
|YiJceDA0MjtceGVmX...| Maintenance Analyst|   9 years|      MORTGAGE|  116004.0|             0.0|    Source Verified|   984xx|        WA|    12231.0|   354686.0|  12297| Fully Paid|     3000.0|   WA|       3000.0| 36 months|   0.263|   24|     17 July 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGI5XHgwNXZce...|               owner| 10+ years|      MORTGAGE|  166000.0|             0.0|       Not Verified|   906xx|        CA|     3374.0|    40483.0| 173548| Fully Paid|    17000.0|   CA|      17000.0| 60 months|  0.1333|   15|  15 October 2015|     false|Individual|    small_business|            Business|
|YidFXHg5M1x4ZTNce...|          supervisor|   5 years|          RENT|   40000.0|             0.0|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceDhlXHgxZlx4Y...|     prosthetic tech|   9 years|      MORTGAGE|   88000.0|             0.0|       Not Verified|   117xx|        NY|    69566.0|   347829.0|  25352|    Current|     5000.0|   NY|       5000.0| 36 months|  0.0607|    3|    18 April 2018|     false|Individual|             other|               Other|
|YiJcclx4N2Z8XHhkN...|Assistant Vice Pr...| 10+ years|          RENT|  180000.0|             0.0|    Source Verified|   062xx|        CT|     6216.0|    93234.0|  97126|    Current|    10000.0|   CT|      10000.0| 36 months|  0.1612|   15|  19 October 2019|     false|Individual|       credit_card|Credit card refin...|
|YidlXHhjNH1ceGZhX...|       Sales Manager| 10+ years|      MORTGAGE|   60000.0|             0.0|    Source Verified|   336xx|        FL|    27389.0|   219114.0| 117878|    Current|    12000.0|   FL|      12000.0| 36 months|  0.0799|    5|     16 July 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceDE1XHhlMDZ2X...|Executive Directo...|  < 1 year|      MORTGAGE|  153000.0|             0.0|    Source Verified|   761xx|        TX|    42332.0|   338656.0| 162097| Fully Paid|    16000.0|   TX|      16000.0| 36 months|  0.1601|   11|      18 May 2018|     false|Individual|             house|         Home buying|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|   9 years|          RENT|   62000.0|             0.0|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|INDIVIDUAL|             other|               Other|
|YidceDk1LFx4YmZce...|             Driver | 10+ years|      MORTGAGE|  104000.0|             0.0|    Source Verified|   431xx|        OH|    15688.0|   219636.0| 168055|    Current|    16000.0|   OH|      16000.0| 60 months|  0.1499|   14|    17 April 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YiJceDgzXHg5NS5ce...|Superintendent of...| 10+ years|          RENT|  104000.0|             0.0|           Verified|   908xx|        CA|    10793.0|   140305.0| 191861|    Current|    20000.0|   CA|      20000.0| 36 months|  0.1075|    8|    16 April 2016|     false|INDIVIDUAL|debt_consolidation|  Debt consolidation|
|YidceGEzXHhiYjJce...|Medical laborator...|   6 years|           OWN|   79000.0|             0.0|           Verified|   296xx|        SC|     3727.0|    52184.0| 239818|    Current|    30000.0|   SC|      30000.0| 36 months|  0.1602|   14|   17 August 2017|     false|Individual|debt_consolidation|  Debt consolidation|
|YidKXHhjMFx4YTlce...|             Teacher| 10+ years|      MORTGAGE|   21000.0|             0.0|           Verified|   770xx|        TX|     5508.0|    44065.0|  17646| Fully Paid|     4000.0|   TX|       4000.0| 36 months|  0.0917|    6| 15 November 2015|     false|Individual|  home_improvement|    Home improvement|
|YidceGVhXHhjN1x4Y...|               Owner|   3 years|      MORTGAGE|   55800.0|         76600.0|       Not Verified|   498xx|        MI|    18297.0|   128076.0|  92256|    Current|    10000.0|   MI|      10000.0| 36 months|  0.1171|   10|     19 July 2019|     false| Joint App|       credit_card|Credit card refin...|
|YidhXHhjZlx4MTA6X...|   kaiser permanente| 10+ years|          RENT|  125000.0|             0.0|           Verified|   921xx|        CA|     3763.0|    30105.0| 195929| Fully Paid|    20000.0|   CA|      20000.0| 36 months|   0.224|   22|13 September 2013|     false|INDIVIDUAL|    small_business|            Business|
|YidceDgxPzhceGM0X...|   Financial Advisor|  < 1 year|          RENT|   64000.0|             0.0|    Source Verified|   223xx|        VA|     3157.0|    41045.0| 203609|    Current|    20800.0|   VA|      20800.0| 36 months|  0.1041|    9|    18 March 2018|     false|Individual|             other|               Other|
|YidceGE4XHg4Zlx4Y...|            Staff PT|   5 years|          RENT|   85000.0|             0.0|           Verified|   114xx|        NY|     3443.0|    41312.0| 187429| Fully Paid|    20000.0|   NY|      20000.0| 36 months|  0.0818|   10|     15 July 2015|     false|Individual|debt_consolidation|  Debt consolidation|
|YidceGEwXHhjMVx4O...|    Personal Shopper|   7 years|          RENT|   30000.0|             0.0|    Source Verified|   891xx|        NV|     1077.0|    11844.0|  19858|    Current|     4000.0|   NV|       4000.0| 36 months|  0.1774|   12|19 September 2019|     false|Individual|       credit_card|Credit card refin...|
|YidceDhhdFx4ZjJ3R...|             Teacher| 10+ years|      MORTGAGE|   68000.0|             0.0|       Not Verified|   804xx|        CO|    33640.0|   201841.0| 146220| Fully Paid|    15000.0|   CO|      15000.0| 36 months|  0.0649|    2| 15 December 2015|     false|Individual|  home_improvement|    Home improvement|
|YiJceGE3XHhjZVx4Y...|             Teacher|  < 1 year|           ANY|  150000.0|             0.0|    Source Verified|   346xx|        FL|     4723.0|    28335.0| 151449|    Current|    15000.0|   FL|      15000.0| 36 months|   0.124|    8|    19 April 2019|     false|Individual|debt_consolidation|  Debt consolidation|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [47]:
#Encoding:
from pyspark.sql.functions import col, when, regexp_extract
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.sql.functions import lower


#Emp Length: Change to numerical
emp_length_temp = df.select("emp_length")
df = df.withColumn("emp_length_temp", emp_length_temp["emp_length"])
df = df.withColumn(
    "emp_length",
    when(col("emp_length").like("< 1 year"), 0.5)
    .when(col("emp_length").like("1 year"), 1)
    .when(col("emp_length").like("2 years"), 2)
    .when(col("emp_length").like("3 years"), 3)
    .when(col("emp_length").like("4 years"), 4)
    .when(col("emp_length").like("5 years"), 5)
    .when(col("emp_length").like("6 years"), 6)
    .when(col("emp_length").like("7 years"), 7)
    .when(col("emp_length").like("8 years"), 8)
    .when(col("emp_length").like("9 years"), 9)
    .when(col("emp_length").like("10+ years"), 10)
)
#State: Label Encoding
state_indexer = StringIndexer(inputCol="state", outputCol="state_encoded")
df = state_indexer.fit(df).transform(df)

# Convert values in the "home_ownership" column to lowercase because there are INDIVIDUAL and Individual categories, so this let them both individual
df = df.withColumn("type", lower(col("type")))

#Home Ownership, Verification Status, and Type: One Hot Encoding
columns_to_encode = ["home_ownership", "verification_status", "type"]

for column in columns_to_encode:
    unique_values = [row[0] for row in df.select(column).distinct().collect()]

    for value in unique_values:
        new_col_name = f"{column}_{value}"
        df = df.withColumn(
            new_col_name,
            when(col(column) == value, 1).otherwise(0)
        )

# Purpose: Label Encoding
purpose_indexer = StringIndexer(inputCol="purpose", outputCol="purpose_encoded")
df = purpose_indexer.fit(df).transform(df)

#Grade - Discretize to letter grade
df = df.withColumn(
    "grade_letter",
    when((col("grade") >= 1) & (col("grade") <= 5), "A")
    .when((col("grade") >= 6) & (col("grade") <= 10), "B")
    .when((col("grade") >= 11) & (col("grade") <= 15), "C")
    .when((col("grade") >= 16) & (col("grade") <= 20), "D")
    .when((col("grade") >= 21) & (col("grade") <= 25), "E")
    .when((col("grade") >= 26) & (col("grade") <= 30), "F")
    .when((col("grade") >= 31) & (col("grade") <= 35), "G")
)

# Standardize column names
df = df.selectExpr([f"`{col}` as {col.lower().replace(' ', '_')}" for col in df.columns])
df.show(20)

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+---------------+-------------+------------------+-------------------+-----------------------+------------------+-------------------+----------------------------+-----------------------------------+--------------------------------+----------+---------------+--------------+---------------+---------------+------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|emp_length_temp|state_encoded|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|home_ownership_none|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_joint|type_direct_pay|type_joint_app|type_individual|purpose_encoded|grade_letter|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+---------------+-------------+------------------+-------------------+-----------------------+------------------+-------------------+----------------------------+-----------------------------------+--------------------------------+----------+---------------+--------------+---------------+---------------+------------+
|YidceGRiIFx4Zjh3X...|             Teacher|      10.0|      MORTGAGE|   42000.0|             0.0|           Verified|   283xx|        NC|    47195.0|   188779.0|  50296|    Current|     6500.0|   NC|       6500.0| 36 months|  0.1774|   13|   19 August 2019|     false|individual|  home_improvement|    Home improvement|      10+ years|          9.0|                 0|                  0|                      1|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            2.0|           C|
|YiJceDA0MjtceGVmX...| Maintenance Analyst|       9.0|      MORTGAGE|  116004.0|             0.0|    Source Verified|   984xx|        WA|    12231.0|   354686.0|  12297| Fully Paid|     3000.0|   WA|       3000.0| 36 months|   0.263|   24|     17 July 2017|     false|individual|debt_consolidation|  Debt consolidation|        9 years|         15.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            0.0|           E|
|YidceGI5XHgwNXZce...|               owner|      10.0|      MORTGAGE|  166000.0|             0.0|       Not Verified|   906xx|        CA|     3374.0|    40483.0| 173548| Fully Paid|    17000.0|   CA|      17000.0| 60 months|  0.1333|   15|  15 October 2015|     false|individual|    small_business|            Business|      10+ years|          0.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            7.0|           C|
|YidFXHg5M1x4ZTNce...|          supervisor|       5.0|          RENT|   40000.0|             0.0|    Source Verified|   641xx|        MO|     1703.0|    11920.0|  37086| Fully Paid|     5500.0|   MO|       5500.0| 36 months|  0.1903|   19|      17 May 2017|     false|individual|debt_consolidation|  Debt consolidation|        5 years|         21.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            0.0|           D|
|YidceDhlXHgxZlx4Y...|     prosthetic tech|       9.0|      MORTGAGE|   88000.0|             0.0|       Not Verified|   117xx|        NY|    69566.0|   347829.0|  25352|    Current|     5000.0|   NY|       5000.0| 36 months|  0.0607|    3|    18 April 2018|     false|individual|             other|               Other|        9 years|          2.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            3.0|           A|
|YiJcclx4N2Z8XHhkN...|Assistant Vice Pr...|      10.0|          RENT|  180000.0|             0.0|    Source Verified|   062xx|        CT|     6216.0|    93234.0|  97126|    Current|    10000.0|   CT|      10000.0| 36 months|  0.1612|   15|  19 October 2019|     false|individual|       credit_card|Credit card refin...|      10+ years|         19.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            1.0|           C|
|YidlXHhjNH1ceGZhX...|       Sales Manager|      10.0|      MORTGAGE|   60000.0|             0.0|    Source Verified|   336xx|        FL|    27389.0|   219114.0| 117878|    Current|    12000.0|   FL|      12000.0| 36 months|  0.0799|    5|     16 July 2016|     false|individual|debt_consolidation|  Debt consolidation|      10+ years|          3.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            0.0|           A|
|YidceDE1XHhlMDZ2X...|Executive Directo...|       0.5|      MORTGAGE|  153000.0|             0.0|    Source Verified|   761xx|        TX|    42332.0|   338656.0| 162097| Fully Paid|    16000.0|   TX|      16000.0| 36 months|  0.1601|   11|      18 May 2018|     false|individual|             house|         Home buying|       < 1 year|          1.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            9.0|           C|
|YiJceGFlXHhmZFx4O...|Social Studies Te...|       9.0|          RENT|   62000.0|             0.0|       Not Verified|   151xx|        PA|     3205.0|    35260.0|  25613|    Current|     5000.0|   PA|       5000.0| 36 months|  0.0649|    5|      16 May 2016|     false|individual|             other|               Other|        9 years|          6.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            3.0|           A|
|YidceDk1LFx4YmZce...|             Driver |      10.0|      MORTGAGE|  104000.0|             0.0|    Source Verified|   431xx|        OH|    15688.0|   219636.0| 168055|    Current|    16000.0|   OH|      16000.0| 60 months|  0.1499|   14|    17 April 2017|     false|individual|debt_consolidation|  Debt consolidation|      10+ years|          7.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            0.0|           C|
|YiJceDgzXHg5NS5ce...|Superintendent of...|      10.0|          RENT|  104000.0|             0.0|           Verified|   908xx|        CA|    10793.0|   140305.0| 191861|    Current|    20000.0|   CA|      20000.0| 36 months|  0.1075|    8|    16 April 2016|     false|individual|debt_consolidation|  Debt consolidation|      10+ years|          0.0|                 0|                  1|                      0|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           B|
|YidceGEzXHhiYjJce...|Medical laborator...|       6.0|           OWN|   79000.0|             0.0|           Verified|   296xx|        SC|     3727.0|    52184.0| 239818|    Current|    30000.0|   SC|      30000.0| 36 months|  0.1602|   14|   17 August 2017|     false|individual|debt_consolidation|  Debt consolidation|        6 years|         26.0|                 1|                  0|                      0|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           C|
|YidKXHhjMFx4YTlce...|             Teacher|      10.0|      MORTGAGE|   21000.0|             0.0|           Verified|   770xx|        TX|     5508.0|    44065.0|  17646| Fully Paid|     4000.0|   TX|       4000.0| 36 months|  0.0917|    6| 15 November 2015|     false|individual|  home_improvement|    Home improvement|      10+ years|          1.0|                 0|                  0|                      1|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            2.0|           B|
|YidceGVhXHhjN1x4Y...|               Owner|       3.0|      MORTGAGE|   55800.0|         76600.0|       Not Verified|   498xx|        MI|    18297.0|   128076.0|  92256|    Current|    10000.0|   MI|      10000.0| 36 months|  0.1171|   10|     19 July 2019|     false| joint app|       credit_card|Credit card refin...|        3 years|         12.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             1|              0|            1.0|           B|
|YidhXHhjZlx4MTA6X...|   kaiser permanente|      10.0|          RENT|  125000.0|             0.0|           Verified|   921xx|        CA|     3763.0|    30105.0| 195929| Fully Paid|    20000.0|   CA|      20000.0| 36 months|   0.224|   22|13 September 2013|     false|individual|    small_business|            Business|      10+ years|          0.0|                 0|                  1|                      0|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            7.0|           E|
|YidceDgxPzhceGM0X...|   Financial Advisor|       0.5|          RENT|   64000.0|             0.0|    Source Verified|   223xx|        VA|     3157.0|    41045.0| 203609|    Current|    20800.0|   VA|      20800.0| 36 months|  0.1041|    9|    18 March 2018|     false|individual|             other|               Other|       < 1 year|         10.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            3.0|           B|
|YidceGE4XHg4Zlx4Y...|            Staff PT|       5.0|          RENT|   85000.0|             0.0|           Verified|   114xx|        NY|     3443.0|    41312.0| 187429| Fully Paid|    20000.0|   NY|      20000.0| 36 months|  0.0818|   10|     15 July 2015|     false|individual|debt_consolidation|  Debt consolidation|        5 years|          2.0|                 0|                  1|                      0|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           B|
|YidceGEwXHhjMVx4O...|    Personal Shopper|       7.0|          RENT|   30000.0|             0.0|    Source Verified|   891xx|        NV|     1077.0|    11844.0|  19858|    Current|     4000.0|   NV|       4000.0| 36 months|  0.1774|   12|19 September 2019|     false|individual|       credit_card|Credit card refin...|        7 years|         22.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            1.0|           C|
|YidceDhhdFx4ZjJ3R...|             Teacher|      10.0|      MORTGAGE|   68000.0|             0.0|       Not Verified|   804xx|        CO|    33640.0|   201841.0| 146220| Fully Paid|    15000.0|   CO|      15000.0| 36 months|  0.0649|    2| 15 December 2015|     false|individual|  home_improvement|    Home improvement|      10+ years|         16.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            2.0|           A|
|YiJceGE3XHhjZVx4Y...|             Teacher|       0.5|           ANY|  150000.0|             0.0|    Source Verified|   346xx|        FL|     4723.0|    28335.0| 151449|    Current|    15000.0|   FL|      15000.0| 36 months|   0.124|    8|    19 April 2019|     false|individual|debt_consolidation|  Debt consolidation|       < 1 year|          3.0|                 0|                  0|                      0|                 1|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            0.0|           B|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+---------------+-------------+------------------+-------------------+-----------------------+------------------+-------------------+----------------------------+-----------------------------------+--------------------------------+----------+---------------+--------------+---------------+---------------+------------+
only showing top 20 rows

In [48]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, last

# Create window specifications
window_by_grade = Window.partitionBy("grade").orderBy("issue_date")
window_by_state_grade = Window.partitionBy("state", "grade").orderBy("issue_date")

# Add the required features
df = df.withColumn("prev_loan_issue_date_grade", lag("issue_date").over(window_by_grade)) \
       .withColumn("prev_loan_amount_grade", lag("loan_amount").over(window_by_grade)) \
       .withColumn("prev_loan_issue_date_state_grade", lag("issue_date").over(window_by_state_grade)) \
       .withColumn("prev_loan_amount_state_grade", lag("loan_amount").over(window_by_state_grade))


# Preview the updated DataFrame
df.select("state", "grade", "issue_date", "prev_loan_issue_date_grade", "prev_loan_amount_grade", "prev_loan_issue_date_state_grade", "prev_loan_amount_state_grade").show(20)

+-----+-----+-----------------+--------------------------+----------------------+--------------------------------+----------------------------+
|state|grade|       issue_date|prev_loan_issue_date_grade|prev_loan_amount_grade|prev_loan_issue_date_state_grade|prev_loan_amount_state_grade|
+-----+-----+-----------------+--------------------------+----------------------+--------------------------------+----------------------------+
|   AK|    1|  16 January 2016|           16 January 2016|                9600.0|                            NULL|                        NULL|
|   AK|    1| 18 November 2018|          18 November 2018|               24000.0|                 16 January 2016|                     20000.0|
|   AK|    2|     14 July 2014|              14 July 2014|               16000.0|                            NULL|                        NULL|
|   AK|    2|  18 October 2018|           18 October 2018|               13000.0|                    14 July 2014|                     12550.0|
|   AK|    3|     17 July 2017|              17 July 2017|                2000.0|                            NULL|                        NULL|
|   AK|    3|     19 June 2019|              19 June 2019|                4400.0|                    17 July 2017|                      7000.0|
|   AK|    4|  18 January 2018|           18 January 2018|                2200.0|                            NULL|                        NULL|
|   AK|    4|     18 June 2018|              18 June 2018|               18000.0|                 18 January 2018|                      3600.0|
|   AK|    5|  16 January 2016|           16 January 2016|               10000.0|                            NULL|                        NULL|
|   AK|    5|   17 August 2017|            17 August 2017|               20000.0|                 16 January 2016|                      8000.0|
|   AK|    6|     15 July 2015|           15 January 2015|               15000.0|                            NULL|                        NULL|
|   AK|    6| 15 November 2015|          15 November 2015|                8000.0|                    15 July 2015|                     15000.0|
|   AK|    6|15 September 2015|           15 October 2015|                5000.0|                15 November 2015|                     35000.0|
|   AK|    6|    17 March 2017|             17 March 2017|               14000.0|               15 September 2015|                     12000.0|
|   AK|    6|18 September 2018|         18 September 2018|               15000.0|                   17 March 2017|                      3000.0|
|   AK|    6|19 September 2019|         19 September 2019|                2000.0|               18 September 2018|                     32000.0|
|   AK|    7| 14 November 2014|          14 November 2014|               35000.0|                            NULL|                        NULL|
|   AK|    8|     15 July 2015|              15 July 2015|                5000.0|                            NULL|                        NULL|
|   AK|    9|      18 May 2018|               18 May 2018|                4200.0|                            NULL|                        NULL|
|   AK|    9|      18 May 2018|               18 May 2018|                8000.0|                     18 May 2018|                     35000.0|
+-----+-----+-----------------+--------------------------+----------------------+--------------------------------+----------------------------+
only showing top 20 rows

In [49]:
df.show()

+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+---------------+-------------+------------------+-------------------+-----------------------+------------------+-------------------+----------------------------+-----------------------------------+--------------------------------+----------+---------------+--------------+---------------+---------------+------------+--------------------------+----------------------+--------------------------------+----------------------------+
|         customer_id|           emp_title|emp_length|home_ownership|annual_inc|annual_inc_joint|verification_status|zip_code|addr_state|avg_cur_bal|tot_cur_bal|loan_id|loan_status|loan_amount|state|funded_amount|      term|int_rate|grade|       issue_date|pymnt_plan|      type|           purpose|         description|emp_length_temp|state_encoded|home_ownership_own|home_ownership_rent|home_ownership_mortgage|home_ownership_any|home_ownership_none|verification_status_verified|verification_status_source_verified|verification_status_not_verified|type_joint|type_direct_pay|type_joint_app|type_individual|purpose_encoded|grade_letter|prev_loan_issue_date_grade|prev_loan_amount_grade|prev_loan_issue_date_state_grade|prev_loan_amount_state_grade|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+---------------+-------------+------------------+-------------------+-----------------------+------------------+-------------------+----------------------------+-----------------------------------+--------------------------------+----------+---------------+--------------+---------------+---------------+------------+--------------------------+----------------------+--------------------------------+----------------------------+
|YidceGYyLlx4MGI7J...|Systems Administr...|       5.0|      MORTGAGE|   74000.0|             0.0|       Not Verified|   996xx|        AK|    14237.0|   242027.0| 196222|    Current|    20000.0|   AK|      20000.0| 60 months|  0.0791|    1|  16 January 2016|     false|individual|debt_consolidation|  Debt consolidation|        5 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            0.0|           A|           16 January 2016|                8000.0|                            NULL|                        NULL|
|YidceDBmXHg5Zn1ce...|    Network Engineer|       2.0|      MORTGAGE|  105000.0|             0.0|           Verified|   996xx|        AK|    38975.0|   428723.0| 190516|    Current|    20000.0|   AK|      20000.0| 36 months|  0.0846|    1| 18 November 2018|     false|individual|debt_consolidation|  Debt consolidation|        2 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           A|          18 November 2018|               18500.0|                 16 January 2016|                     20000.0|
|Yic1XHhkMGtceGZmI...|        Merchandiser|       5.0|          RENT|   45000.0|             0.0|       Not Verified|   996xx|        AK|     2968.0|    26716.0|  51750|    Current|     7000.0|   AK|       7000.0| 36 months|  0.0532|    3|     17 July 2017|     false|individual|debt_consolidation|  Debt consolidation|        5 years|         47.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            0.0|           A|              17 July 2017|               12000.0|                            NULL|                        NULL|
|YiIlKFx4YjZceGE5f...|Assistant attorne...|      10.0|      MORTGAGE|   80000.0|             0.0|       Not Verified|   998xx|        AK|    26890.0|   591579.0|  52200|    Current|     7000.0|   AK|       7000.0| 36 months|  0.0702|    3|     19 June 2019|     false|individual|debt_consolidation|  Debt consolidation|      10+ years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            0.0|           A|              19 June 2019|               12000.0|                    17 July 2017|                      7000.0|
|YidgXHg5MFx4Y2Zce...|   registered nurse |       4.0|      MORTGAGE|   70000.0|             0.0|    Source Verified|   996xx|        AK|     9579.0|   143682.0|  62445|    Current|     8000.0|   AK|       8000.0| 36 months|  0.0699|    5|  16 January 2016|     false|individual|       credit_card|Credit card refin...|        4 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            1.0|           A|           16 January 2016|               30000.0|                            NULL|                        NULL|
|YidceDA0XHhlOVx4Z...|Systems Administr...|       1.0|           OWN|  140000.0|             0.0|    Source Verified|   996xx|        AK|    33796.0|   473139.0| 254045| Fully Paid|    35000.0|   AK|      35000.0| 36 months|  0.0735|    5|   17 August 2017|     false|individual|       credit_card|Credit card refin...|         1 year|         47.0|                 1|                  0|                      0|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            1.0|           A|            17 August 2017|               13200.0|                 16 January 2016|                      8000.0|
|YicjXHgxNFx4OGFce...|customer service ...|       9.0|          RENT|   60000.0|             0.0|       Not Verified|   995xx|        AK|     5508.0|    33048.0| 145189| Fully Paid|    15000.0|   AK|      15000.0| 36 months|  0.1153|    6|     15 July 2015|     false|individual|debt_consolidation|  Debt consolidation|        9 years|         47.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            0.0|           B|              15 July 2015|                9000.0|                            NULL|                        NULL|
|YidceDlmXHgxOFx4Z...|Air Traffic Super...|      10.0|      MORTGAGE|  165000.0|             0.0|           Verified|   995xx|        AK|    49748.0|   298488.0| 254641| Fully Paid|    35000.0|   AK|      35000.0| 36 months|  0.0917|    6| 15 November 2015|     false|individual|debt_consolidation|  Debt consolidation|      10+ years|         47.0|                 0|                  0|                      1|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           B|          15 November 2015|               10000.0|                    15 July 2015|                     15000.0|
|YidoXHhiZVx4MThce...|  Judicial Law Clerk|       0.5|      MORTGAGE|   50000.0|             0.0|    Source Verified|   998xx|        AK|    10039.0|   250980.0| 119311| Fully Paid|    12000.0|   AK|      12000.0| 36 months|  0.0999|    6|15 September 2015|     false|individual|       credit_card|Credit card refin...|       < 1 year|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             0|              1|            1.0|           B|         15 September 2015|               12000.0|                15 November 2015|                     35000.0|
|YidceGI5fVx4Y2MpX...|Store Manager - R...|       4.0|      MORTGAGE|   62000.0|             0.0|       Not Verified|   995xx|        AK|     8956.0|   107467.0|  10341|Charged Off|     3000.0|   AK|       3000.0| 36 months|  0.1149|    6|    17 March 2017|     false|individual|  home_improvement|    Home improvement|        4 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            2.0|           B|             17 March 2017|               14400.0|               15 September 2015|                     12000.0|
|YidceGZmMlx4OWVcX...|    Business Manager|       3.0|          RENT|   83000.0|             0.0|           Verified|   995xx|        AK|    11280.0|   259437.0| 249617|    Current|    32000.0|   AK|      32000.0| 60 months|  0.1106|    6|18 September 2018|     false|individual|debt_consolidation|  Debt consolidation|        3 years|         47.0|                 0|                  1|                      0|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           B|         18 September 2018|               10000.0|                   17 March 2017|                      3000.0|
|YidceGQ2XHhkZlx4Y...|     Accounting Tech|       2.0|      MORTGAGE|   97000.0|             0.0|       Not Verified|   995xx|        AK|    31884.0|   382606.0| 105028|    Current|    10225.0|   AK|      10225.0| 36 months|  0.1171|    6|19 September 2019|     false|individual|       credit_card|Credit card refin...|        2 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            1.0|           B|         19 September 2019|               10800.0|               18 September 2018|                     32000.0|
|YidcXFx4Zjh+I1lTX...|Maintenance Techn...|       1.0|          RENT|   50000.0|             0.0|       Not Verified|   997xx|        AK|     1994.0|    15948.0| 138728| Fully Paid|    14000.0|   AK|      14000.0| 36 months|  0.1144|    7| 14 November 2014|     false|individual|       credit_card|Credit card refin...|         1 year|         47.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            1.0|           B|          14 November 2014|                8000.0|                            NULL|                        NULL|
|YidceGUwdVx4OTk3X...|    Contract Manager|       0.5|      MORTGAGE|  165000.0|        330000.0|    Source Verified|   995xx|        AK|    31264.0|   437696.0| 258169|    Current|    35000.0|   AK|      35000.0| 60 months|  0.1007|    9|      18 May 2018|     false| joint app|debt_consolidation|  Debt consolidation|       < 1 year|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             1|              0|            0.0|           B|               18 May 2018|                5000.0|                            NULL|                        NULL|
|Yid3XHgwNVx4YTVce...|Assistant Fire Ma...|       0.5|          RENT|   48000.0|             0.0|           Verified|   996xx|        AK|     3443.0|    20659.0|  73728|    Current|     8800.0|   AK|       8800.0| 36 months|  0.1198|    9|      18 May 2018|     false|individual|    major_purchase|      Major purchase|       < 1 year|         47.0|                 0|                  1|                      0|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            4.0|           B|               18 May 2018|                4200.0|                     18 May 2018|                     35000.0|
|YidnXHhiY1x4ZDZce...|          Pipefitter|      10.0|      MORTGAGE|  100000.0|        211000.0|           Verified|   997xx|        AK|    45399.0|   363194.0| 268597|    Current|    40000.0|   AK|      40000.0| 60 months|  0.1171|    9|    19 April 2019|     false| joint app|       credit_card|Credit card refin...|      10+ years|         47.0|                 0|                  0|                      1|                 0|                  0|                           1|                                  0|                               0|         0|              0|             1|              0|            1.0|           B|         18 September 2018|               25000.0|                     18 May 2018|                      8800.0|
|YidceDljXHhjZmVce...| Director of Finance|       4.0|      MORTGAGE|  110000.0|             0.0|       Not Verified|   995xx|        AK|    11379.0|   182056.0| 191105| Fully Paid|    20000.0|   AK|      20000.0| 36 months|  0.0949|   10|     16 July 2016|     false|individual|       credit_card|Credit card refin...|        4 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            1.0|           B|              16 July 2016|               15000.0|                            NULL|                        NULL|
|Yidgelx4YmVceDA2Z...|           parts pro|       4.0|      MORTGAGE|   40500.0|             0.0|           Verified|   997xx|        AK|    27013.0|   189091.0| 113053|    Current|    11250.0|   AK|      11250.0| 36 months|  0.1147|   10|      16 May 2016|     false|individual|debt_consolidation|  Debt consolidation|        4 years|         47.0|                 0|                  0|                      1|                 0|                  0|                           1|                                  0|                               0|         0|              0|             0|              1|            0.0|           B|               16 May 2016|               10200.0|                    16 July 2016|                     20000.0|
|YidceDEyXHhhY1x4Z...|Product Support T...|       7.0|          RENT|   91000.0|             0.0|       Not Verified|   995xx|        AK|     4797.0|    71951.0| 226624|    Current|    25000.0|   AK|      25000.0| 60 months|  0.1033|   10| 18 December 2018|     false|individual|debt_consolidation|  Debt consolidation|        7 years|         47.0|                 0|                  1|                      0|                 0|                  0|                           0|                                  0|                               1|         0|              0|             0|              1|            0.0|           B|          18 December 2018|               15000.0|                     16 May 2016|                     11250.0|
|YidISWJceGQ4XHhiZ...|   Dental hygienist |      10.0|      MORTGAGE|   38000.0|        200000.0|    Source Verified|   997xx|        AK|    34179.0|   546860.0| 203062|    Current|    20425.0|   AK|      20425.0| 60 months|  0.1308|   10|     19 June 2019|     false| joint app|debt_consolidation|  Debt consolidation|      10+ years|         47.0|                 0|                  0|                      1|                 0|                  0|                           0|                                  1|                               0|         0|              0|             1|              0|            0.0|           B|              19 June 2019|                4000.0|                18 December 2018|                     25000.0|
+--------------------+--------------------+----------+--------------+----------+----------------+-------------------+--------+----------+-----------+-----------+-------+-----------+-----------+-----+-------------+----------+--------+-----+-----------------+----------+----------+------------------+--------------------+---------------+-------------+------------------+-------------------+-----------------------+------------------+-------------------+----------------------------+-----------------------------------+--------------------------------+----------+---------------+--------------+---------------+---------------+------------+--------------------------+----------------------+--------------------------------+----------------------------+
only showing top 20 rows

In [50]:
count_value = df.filter(df['loan_status'] == 'Default').count()
print(f"Count of 'Default': {count_value}")

Count of 'Default': 1

In [51]:
min = df.agg({"annual_inc": "min"}).collect()[0][0]
max = df.agg({"annual_inc": "max"}).collect()[0][0]
print(f"Min: {min}, Max: {max}")

Min: 34.0, Max: 6200000.0

In [52]:
#Identify the average loan amount and interest rate for loans marked as Default in the Loan Status,
#grouped by Emp Length and annual income ranges

#SQL:
df.createOrReplaceGlobalTempView("loans")
average = spark.sql("""
SELECT
    emp_length,
    CASE
        WHEN annual_inc < 10000 THEN 'Low'
        WHEN annual_inc BETWEEN 10000 AND 50000 THEN 'Mid-low'
        WHEN annual_inc BETWEEN 50000 AND 500000 THEN 'Medium'
        WHEN annual_inc BETWEEN 500000 AND 1000000 THEN 'Mid-High'
        WHEN annual_inc BETWEEN 1000000 AND 5000000 THEN 'High'
        ELSE 'Very High'

    END AS income_range,
    AVG(loan_amount) AS avg_loan_amount,
    AVG(int_rate) AS avg_interest_rate
FROM global_temp.loans
WHERE loan_status = 'Default'
GROUP BY emp_length, income_range;""")
average.show()

+----------+------------+---------------+-----------------+
|emp_length|income_range|avg_loan_amount|avg_interest_rate|
+----------+------------+---------------+-----------------+
|       1.0|    Mid-High|        35000.0|           0.2589|
+----------+------------+---------------+-----------------+

In [53]:
#Spark:
from pyspark.sql.functions import when, avg, col

# Add an 'income_range' column using a CASE-like logic
loans_with_income_range = df.withColumn(
    "income_range",
    when(col("annual_inc") < 10000, "Low")
    .when((col("annual_inc") >= 10000) & (col("annual_inc") <= 50000), "Mid-low")
    .when((col("annual_inc") > 50000) & (col("annual_inc") <= 500000), "Midium")
    .when((col("annual_inc") > 500000) & (col("annual_inc") <= 1000000), "Mid-High")
    .when((col("annual_inc") > 1000000) & (col("annual_inc") <= 5000000), "High")
    .otherwise("Very High")
)

# Filter rows where loan_status = 'Default'
filtered_loans = loans_with_income_range.filter(col("loan_status") == "Default")

# Group by 'emp_length' and 'income_range', then calculate averages
average = filtered_loans.groupBy("emp_length", "income_range").agg(
    avg("loan_amount").alias("avg_loan_amount"),
    avg("int_rate").alias("avg_interest_rate")
)

# Show the results
average.show()

+----------+------------+---------------+-----------------+
|emp_length|income_range|avg_loan_amount|avg_interest_rate|
+----------+------------+---------------+-----------------+
|       1.0|    Mid-High|        35000.0|           0.2589|
+----------+------------+---------------+-----------------+

In [54]:
#Calculate the average difference between Loan Amount and Funded Amount for each loan Grade and
#sort by the grades with the largest differences
#SQL:
average_difference = spark.sql("""
SELECT
    grade,
    AVG(loan_amount - funded_amount) AS avg_difference
FROM global_temp.loans
GROUP BY grade
ORDER BY avg_difference DESC;
""")
average_difference.show()
#The difference is zero because the loan_amount feature is equal to the funced_amount feature.

+-----+--------------+
|grade|avg_difference|
+-----+--------------+
|   29|           0.0|
|   26|           0.0|
|   19|           0.0|
|   22|           0.0|
|    7|           0.0|
|   34|           0.0|
|   32|           0.0|
|   31|           0.0|
|   25|           0.0|
|    6|           0.0|
|    9|           0.0|
|   27|           0.0|
|   17|           0.0|
|   33|           0.0|
|   28|           0.0|
|    5|           0.0|
|    1|           0.0|
|   10|           0.0|
|    3|           0.0|
|   12|           0.0|
+-----+--------------+
only showing top 20 rows

In [55]:
#Spark:
from pyspark.sql.functions import col, avg

average_difference = df.withColumn("difference", col("loan_amount") - col("funded_amount")) \
    .groupBy("grade") \
    .agg(avg("difference").alias("avg_difference")) \
    .orderBy(col("avg_difference").desc())
average_difference.show()

+-----+--------------+
|grade|avg_difference|
+-----+--------------+
|   29|           0.0|
|   26|           0.0|
|   19|           0.0|
|   22|           0.0|
|    7|           0.0|
|   34|           0.0|
|   32|           0.0|
|   31|           0.0|
|   25|           0.0|
|    6|           0.0|
|    9|           0.0|
|   27|           0.0|
|   17|           0.0|
|   33|           0.0|
|   28|           0.0|
|    5|           0.0|
|    1|           0.0|
|   10|           0.0|
|    3|           0.0|
|   12|           0.0|
+-----+--------------+
only showing top 20 rows

In [56]:
#Compare the total Loan Amount for loans with Verified and Not Verified Verification Status across
#each state (Addr State).
#SQL:
total_loan = spark.sql("""
SELECT
    addr_state,
    verification_status,
    SUM(loan_amount) AS total_loan_amount
FROM global_temp.loans
WHERE verification_status IN ('Verified', 'Not Verified')
GROUP BY addr_state, verification_status
ORDER BY addr_state, verification_status;
""")
total_loan.show()

+----------+-------------------+-----------------+
|addr_state|verification_status|total_loan_amount|
+----------+-------------------+-----------------+
|        AK|       Not Verified|         330150.0|
|        AK|           Verified|         249400.0|
|        AL|       Not Verified|        1628575.0|
|        AL|           Verified|        1394150.0|
|        AR|       Not Verified|         903150.0|
|        AR|           Verified|         834775.0|
|        AZ|       Not Verified|        3774750.0|
|        AZ|           Verified|        2545150.0|
|        CA|       Not Verified|      1.8343025E7|
|        CA|           Verified|      1.5368725E7|
|        CO|       Not Verified|        2672250.0|
|        CO|           Verified|        2266475.0|
|        CT|       Not Verified|        2195050.0|
|        CT|           Verified|        1759150.0|
|        DC|       Not Verified|         217500.0|
|        DC|           Verified|         402875.0|
|        DE|       Not Verified|         456200.0|
|        DE|           Verified|         601200.0|
|        FL|       Not Verified|        9041900.0|
|        FL|           Verified|        7801900.0|
+----------+-------------------+-----------------+
only showing top 20 rows

In [57]:
#Spark:
from pyspark.sql.functions import col, sum

total_loan = df.filter(col("verification_status").isin("Verified", "Not Verified")) \
    .groupBy("addr_state", "verification_status") \
    .agg(sum("loan_amount").alias("total_loan_amount")) \
    .orderBy("addr_state", "verification_status")

total_loan.show()

+----------+-------------------+-----------------+
|addr_state|verification_status|total_loan_amount|
+----------+-------------------+-----------------+
|        AK|       Not Verified|         330150.0|
|        AK|           Verified|         249400.0|
|        AL|       Not Verified|        1628575.0|
|        AL|           Verified|        1394150.0|
|        AR|       Not Verified|         903150.0|
|        AR|           Verified|         834775.0|
|        AZ|       Not Verified|        3774750.0|
|        AZ|           Verified|        2545150.0|
|        CA|       Not Verified|      1.8343025E7|
|        CA|           Verified|      1.5368725E7|
|        CO|       Not Verified|        2672250.0|
|        CO|           Verified|        2266475.0|
|        CT|       Not Verified|        2195050.0|
|        CT|           Verified|        1759150.0|
|        DC|       Not Verified|         217500.0|
|        DC|           Verified|         402875.0|
|        DE|       Not Verified|         456200.0|
|        DE|           Verified|         601200.0|
|        FL|       Not Verified|        9041900.0|
|        FL|           Verified|        7801900.0|
+----------+-------------------+-----------------+
only showing top 20 rows

In [58]:
#. Calculate the average time gap (in days) between consecutive loans for each grade using the new
#features you added in the feature engineering phase
#SQL:
avg_difference = spark.sql("""
SELECT
    grade,

    AVG(DATEDIFF(TO_DATE(issue_date, 'dd MMMM yyyy'), TO_DATE(prev_loan_issue_date_grade, 'dd MMMM yyyy'))) AS avg_time_gap
FROM global_temp.loans
GROUP BY grade;
""")
avg_difference.show(35)

+-----+------------------+
|grade|      avg_time_gap|
+-----+------------------+
|    1| 2.109612141652614|
|    2|2.2952646239554317|
|    3| 2.097233864207879|
|    4| 2.149484536082474|
|    5|2.2091152815013406|
|    6|1.5598316295850871|
|    7| 1.618860510805501|
|    8|1.6059050064184852|
|    9|               1.6|
|   10|1.5979314802844216|
|   11|1.6263157894736842|
|   12|1.6114732724902217|
|   13|1.6976439790575917|
|   14|1.5876685934489403|
|   15|1.7020997375328084|
|   16|3.0977443609022557|
|   17|3.1291139240506327|
|   18|3.2474358974358974|
|   19|3.3816689466484267|
|   20|3.1480582524271843|
|   21| 8.928853754940711|
|   22| 9.188755020080322|
|   23|   8.8212927756654|
|   24| 7.752508361204013|
|   25| 8.460674157303371|
|   26|24.256410256410255|
|   27|              32.4|
|   28| 27.78205128205128|
|   29|20.666666666666668|
|   30|              24.5|
|   31| 95.95238095238095|
|   32| 80.45454545454545|
|   33|           110.625|
|   34|  79.6086956521739|
|   35| 65.04347826086956|
+-----+------------------+

In [59]:
#Spark:
from pyspark.sql.functions import to_date, datediff, avg
from pyspark.sql.window import Window

# Convert the date columns to proper date format
df = df.withColumn("issue_date", to_date(col("issue_date"), "dd MMMM yyyy")) \
       .withColumn("prev_loan_issue_date_grade", to_date(col("prev_loan_issue_date_grade"), "dd MMMM yyyy"))

# Calculate the time difference between dates
df = df.withColumn("time_diff", datediff(col("issue_date"), col("prev_loan_issue_date_grade")))

# Calculate the average time gap grouped by grade
avg_difference = df.groupBy("grade") \
                   .agg(avg("time_diff").alias("avg_time_gap"))

# Show the results
avg_difference.show(35)

+-----+------------------+
|grade|      avg_time_gap|
+-----+------------------+
|    1| 2.109612141652614|
|    2|2.2952646239554317|
|    3| 2.097233864207879|
|    4| 2.149484536082474|
|    5|2.2091152815013406|
|    6|1.5598316295850871|
|    7| 1.618860510805501|
|    8|1.6059050064184852|
|    9|               1.6|
|   10|1.5979314802844216|
|   11|1.6263157894736842|
|   12|1.6114732724902217|
|   13|1.6976439790575917|
|   14|1.5876685934489403|
|   15|1.7020997375328084|
|   16|3.0977443609022557|
|   17|3.1291139240506327|
|   18|3.2474358974358974|
|   19|3.3816689466484267|
|   20|3.1480582524271843|
|   21| 8.928853754940711|
|   22| 9.188755020080322|
|   23|   8.8212927756654|
|   24| 7.752508361204013|
|   25| 8.460674157303371|
|   26|24.256410256410255|
|   27|              32.4|
|   28| 27.78205128205128|
|   29|20.666666666666668|
|   30|              24.5|
|   31| 95.95238095238095|
|   32| 80.45454545454545|
|   33|           110.625|
|   34|  79.6086956521739|
|   35| 65.04347826086956|
+-----+------------------+

In [60]:
#. Identify the average difference in loan amounts between consecutive loans within the same state and
#grade combination.
#SQL:
state_grade_diff = spark.sql("""
WITH lagged_loans AS (
    SELECT
        addr_state,
        grade,
        issue_date,
        loan_amount,
        LAG(loan_amount, 1) OVER (PARTITION BY addr_state, grade ORDER BY issue_date) AS prev_loan_amount
    FROM global_temp.loans
)
SELECT
    addr_state,
    grade,
    AVG(loan_amount - prev_loan_amount) AS avg_difference
FROM lagged_loans
WHERE prev_loan_amount IS NOT NULL
GROUP BY addr_state, grade;
""")
state_grade_diff.show()

+----------+-----+-------------------+
|addr_state|grade|     avg_difference|
+----------+-----+-------------------+
|        AK|    1|                0.0|
|        AK|    2|            19450.0|
|        AK|    3|                0.0|
|        AK|    4|            26400.0|
|        AK|    5|            27000.0|
|        AK|    6|             -955.0|
|        AK|    9|            15600.0|
|        AK|   10| 141.66666666666666|
|        AK|   11| -7333.333333333333|
|        AK|   14|            4056.25|
|        AK|   15|             1225.0|
|        AK|   16|            16250.0|
|        AK|   19|            21000.0|
|        AK|   20|             5500.0|
|        AK|   22|            29250.0|
|        AL|    1| 1555.5555555555557|
|        AL|    2|             1375.0|
|        AL|    3| 2533.3333333333335|
|        AL|    4|-472.72727272727275|
|        AL|    5| 135.71428571428572|
+----------+-----+-------------------+
only showing top 20 rows

In [61]:
#Spark:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, col, avg

# Define the window specification
window_spec = Window.partitionBy("addr_state", "grade").orderBy("issue_date")

# Add the previous loan amount using the LAG function
df = df.withColumn("prev_loan_amount", lag("loan_amount", 1).over(window_spec))

# Calculate the average difference for each addr_state and grade
state_grade_diff = df.filter(col("prev_loan_amount").isNotNull()) \
    .withColumn("difference", col("loan_amount") - col("prev_loan_amount")) \
    .groupBy("addr_state", "grade") \
    .agg(avg("difference").alias("avg_difference"))

# Display the results
state_grade_diff.show()

+----------+-----+-------------------+
|addr_state|grade|     avg_difference|
+----------+-----+-------------------+
|        AK|    1|                0.0|
|        AK|    2|            19450.0|
|        AK|    3|                0.0|
|        AK|    4|            26400.0|
|        AK|    5|            27000.0|
|        AK|    6|             -955.0|
|        AK|    9|            15600.0|
|        AK|   10| 3058.3333333333335|
|        AK|   11| -7333.333333333333|
|        AK|   14|            4056.25|
|        AK|   15|             1225.0|
|        AK|   16|            16250.0|
|        AK|   19|            21000.0|
|        AK|   20|             3537.5|
|        AK|   22|           -29250.0|
|        AL|    1| 222.22222222222223|
|        AL|    2|                0.0|
|        AL|    3|  583.3333333333334|
|        AL|    4|-472.72727272727275|
|        AL|    5| 1821.4285714285713|
+----------+-----+-------------------+
only showing top 20 rows

In [62]:
#Lookup Table:
from pyspark.sql.functions import col
from pyspark.sql import DataFrame
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType

# Initialize an empty DataFrame with the same schema as the lookup table
empty_schema = StructType([StructField("original_col", StringType(), True), StructField("encoded_col", StringType(), True)])
df_lookup = spark.createDataFrame(spark.sparkContext.emptyRDD(), empty_schema)

# Function to create a lookup table for a given column
def create_lookup_table(df: DataFrame, original_col: str, encoded_col: str) -> DataFrame:
    if encoded_col == "Encoded with One_hot":
        lookup_df = df.select(original_col).distinct()
        lookup_df = lookup_df.withColumn("encoded_col", F.lit("one-hot encoded"))
    else:
        # Select distinct values from the original and encoded columns
        lookup_df = df.select(original_col, encoded_col).distinct()
        lookup_df = lookup_df.select(
            col(original_col).cast("string").alias("original_col"),
            col(encoded_col).cast("string").alias("encoded_col")
        )

    return lookup_df


df_lookup = df_lookup.union(create_lookup_table(df, "emp_length_temp", "emp_length"))
df_lookup = df_lookup.union(create_lookup_table(df, "home_ownership", "Encoded with One_hot"))
df_lookup = df_lookup.union(create_lookup_table(df, "verification_status", "Encoded with One_hot"))
df_lookup = df_lookup.union(create_lookup_table(df, "state", "state_encoded"))
df_lookup = df_lookup.union(create_lookup_table(df, "type", "Encoded with One_hot"))
df_lookup = df_lookup.union(create_lookup_table(df, "purpose", "purpose_encoded"))
df_lookup = df_lookup.union(create_lookup_table(df, "grade", "grade_letter"))
df = df.drop("emp_length_temp")

#lookup table
df_lookup.show(n=122)

+------------------+---------------+
|      original_col|    encoded_col|
+------------------+---------------+
|           5 years|            5.0|
|         10+ years|           10.0|
|           4 years|            4.0|
|           9 years|            9.0|
|           7 years|            7.0|
|          < 1 year|            0.5|
|           2 years|            2.0|
|           3 years|            3.0|
|            1 year|            1.0|
|           6 years|            6.0|
|           8 years|            8.0|
|               OWN|one-hot encoded|
|              RENT|one-hot encoded|
|          MORTGAGE|one-hot encoded|
|               ANY|one-hot encoded|
|              NONE|one-hot encoded|
|          Verified|one-hot encoded|
|   Source Verified|one-hot encoded|
|      Not Verified|one-hot encoded|
|                NV|           22.0|
|                WI|           23.0|
|                NJ|            5.0|
|                AR|           31.0|
|                AL|           25.0|
|                VA|           10.0|
|                MI|           12.0|
|                KY|           28.0|
|                GA|            8.0|
|                SD|           43.0|
|                OH|            7.0|
|                WV|           38.0|
|                UT|           32.0|
|                ME|           48.0|
|                NM|           35.0|
|                MD|           13.0|
|                SC|           26.0|
|                NY|            2.0|
|                WY|           49.0|
|                OK|           29.0|
|                DC|           41.0|
|                WA|           15.0|
|                FL|            3.0|
|                PA|            6.0|
|                ID|           44.0|
|                TX|            1.0|
|                TN|           20.0|
|                CA|            0.0|
|                CO|           16.0|
|                OR|           24.0|
|                MA|           14.0|
|                MN|           17.0|
|                NE|           40.0|
|                MO|           21.0|
|                AZ|           11.0|
|                AK|           47.0|
|                KS|           30.0|
|                ND|           45.0|
|                IN|           18.0|
|                MS|           33.0|
|                CT|           19.0|
|                RI|           37.0|
|                HI|           34.0|
|                NC|            9.0|
|                LA|           27.0|
|                NH|           36.0|
|                MT|           42.0|
|                DE|           39.0|
|                VT|           46.0|
|                IL|            4.0|
|             joint|one-hot encoded|
|        direct_pay|one-hot encoded|
|         joint app|one-hot encoded|
|        individual|one-hot encoded|
|       credit_card|            1.0|
|          vacation|            8.0|
|           wedding|           12.0|
|             other|            3.0|
|            moving|           10.0|
|               car|            6.0|
|           medical|            5.0|
|             house|            9.0|
|    major_purchase|            4.0|
|  home_improvement|            2.0|
|debt_consolidation|            0.0|
|    small_business|            7.0|
|  renewable_energy|           11.0|
|                21|              E|
|                29|              F|
|                 9|              B|
|                35|              G|
|                 8|              B|
|                33|              G|
|                17|              D|
|                10|              B|
|                25|              E|
|                16|              D|
|                19|              D|
|                20|              D|
|                22|              E|
|                24|              E|
|                23|              E|
|                12|              C|
|                30|              F|
|                 4|              A|
|                13|              C|
|                11|              C|
|                27|              F|
|                 5|              A|
|                28|              F|
|                32|              G|
|                 2|              A|
|                 3|              A|
|                18|              D|
|                14|              C|
|                31|              G|
|                15|              C|
|                 7|              B|
|                 6|              B|
|                26|              F|
|                34|              G|
|                 1|              A|
+------------------+---------------+

In [63]:
#Saving the dataset:
df.write.parquet("fintech_spark_52_3224_clean.parquet", mode="overwrite")
df_lookup.write.parquet("lookup_spark_52_3224_clean.parquet", mode="overwrite")